:root {
  /* colors */
  --color-grey-950: hsl(255, 22%, 4%);
  --color-grey-900: hsl(248, 17%, 9%);
  --color-grey-850: hsl(248, 15%, 11%);
  --color-grey-800: hsl(248, 10%, 15%);
  --color-grey-700: hsl(248, 5%, 34%);
  --color-grey-600: hsl(251, 9%, 53%);
  --color-grey-200: hsl(252, 11%, 91%);
  --color-green-200: hsl(127, 100%, 82%);
  --color-yellow-200: hsl(42, 91%, 68%);
  --color-orange-400: hsl(13, 95%, 66%);
  --color-red-500: hsl(0, 91%, 63%);
  --gradient-1: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 50%
  );
  /* typography */
  --font-family-primary: "JetBrains Mono", monospace;
  --text-spacing-primary: 0px;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;

  --line-height-1: 1.3125;
  --line-height-2: 1.3333;
  --line-height-4: 1.25;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background: var(--color-grey-950);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-4);
  letter-spacing: var(--text-spacing-primary);
  color: var(--color-grey-200);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 35rem) {
  body {
    font-size: var(--font-size-16);
    line-height: var(--line-height-2);
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select,
button {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: 3px solid white;
  outline-offset: 3px;
}

svg {
  fill: currentColor;
}

/* global */
main {
  display: grid;
  place-content: center;
  place-items: center;
  min-block-size: 100vh;
}

.password_generator {
  inline-size: 90vw;
  max-inline-size: 33.75rem;
}

/* utilities */

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.inline-flex-container {
  display: inline-flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.gap-8 {
  gap: 0.5rem;
}

.hidden {
  display: none;
}

.padding-block-16 {
  padding-block: 1rem;
}

.padding-block-24 {
  padding-block: 1.5rem;
}

.padding-inline-32 {
  padding-inline: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.align-text-center {
  text-align: center;
}

.bg-gradient-1 {
  background: var(--gradient-1);
}

.bg-grey-950 {
  background-color: var(--color-grey-950);
}

.bg-grey-800 {
  background-color: var(--color-grey-800);
}

.bg-grey-850 {
  background-color: var(--color-grey-850);
}

.bg-green-200 {
  background-color: var(--color-green-200);
}

.bg-yellow-200 {
  background-color: var(--color-yellow-200);
}

.bg-orange-400 {
  background-color: var(--color-orange-400);
}

.bg-red-500 {
  background-color: var(--color-red-500);
}

.color-grey-800 {
  color: var(--color-grey-800);
}

.color-grey-600 {
  color: var(--color-grey-600);
}

.color-grey-200 {
  color: var(--color-grey-200);
}

.color-green-200 {
  color: var(--color-green-200);
}

.inline-size-100 {
  inline-size: 100%;
}

/* block */

@media (min-width: 35rem) {
  .title_container {
    font-size: var(--font-size-24);
    line-height: var(--line-height-2);
  }
}

.password_container {
  position: relative;
  margin-block-end: 1rem;
}

@media (min-width: 35rem) {
  .password_container {
    margin-block-end: 1.5rem;
  }
}

.copy {
  position: absolute;
  transform: translateY(50%);
  right: 1rem;
}

@media (min-width: 28.5rem) {
  .copy {
    transform: translateY(95%);
  }
}

.password,
.character_length {
  font-size: var(--font-size-18);
  line-height: var(--line-height-4);
}

@media (min-width: 28.5rem) {
  .password,
  .character_length {
    font-size: var(--font-size-24);
    line-height: var(--line-height-2);
  }
}

@media (min-width: 35rem) {
  .password,
  .character_length {
    font-size: var(--font-size-32);
    line-height: var(--line-height-1);
  }
}

.password {
  background-color: transparent;
  border: none;
  color: var(--color-grey-200);
}

.strength_value_icon {
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  width: 3rem;
  background-color: transparent;
}

.level {
  height: 1.125rem;
  border: 2px solid var(--color-grey-200);
}

@media (min-width: 35rem) {
  .level {
    height: 1.5rem;
  }
}

.password_generator,
.options_container {
  gap: 1rem;
}

.password_container,
.options_container {
  gap: 2rem;
}

.options_container {
  padding: 1rem;
}

@media (min-width: 35rem) {
  .options_container {
    padding: 1.5rem 2rem;
  }
}

.btn-copy:is(:hover, :active) {
  color: var(--color-grey-200);
}

.btn-copy:disabled:is(:hover, :active) {
  color: var(--color-green-200);
}

.btn-generate {
  border: 2px solid transparent;
}

.btn-generate:disabled:is(:hover, :focus) {
  background-color: var(--color-green-200);
  color: var(--color-grey-850);
}

.btn-generate:is(:hover, :active) {
  color: var(--color-green-200);
  border: 2px solid var(--color-green-200);
  background-color: transparent;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-grey-850);
  height: 0.5rem;
  margin-block-start: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-grey-200);
  border: 0.1rem solid transparent;
}

.slider::-webkit-slider-thumb:is(:hover, :active) {
  background-color: var(--color-grey-850);
  border: 0.1rem solid var(--color-green-200);
}

.slider::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-grey-200);
  border: 0.1rem solid transparent;
}

.slider::-moz-range-thumb:is(:hover, :active) {
  background-color: var(--color-grey-850);
  border: 0.1rem solid var(--color-green-200);
}

.option {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border: 0.1rem solid var(--color-grey-200);
  cursor: pointer;
}

.option:checked {
  background-color: var(--color-green-200);
  background-image: url("/assets/images/icon-check.svg");
  background-size: cover;
  border: 0.1rem solid transparent;
  background-position: center;
}

.option:is(:hover, :active) {
  border: 0.1rem solid var(--color-green-200);
}
